.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ececec;
  background-color: #b886bb;
}

.stepper {
  position: relative;
  width: 900px;
  height: 600px;
  border-radius: 5px;
  background-color: #bbbbbb;
  background-color: #884e9c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 20px 20px;
}
.buttons button {
  width: 90px;
  height: 50px;
  border-radius: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #de6f3b;
  background-color: #582d6a;
  color: #ececec;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border: none;
}
.buttons button:hover {
  letter-spacing: 3px;
  background-color: #de6f3b;
  transition: all 0.3s;
}
.div {
  width: 100%;
}
.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input {
  width: 70%;
  height: 50px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 20px;
  padding-left: 20px;
  margin-top: 10px;
}
label {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  color: #ececec;
  font-weight: bold;
}
.submit-data h1 {
  margin: 20px;
  color: #ececec;
}
.submit-data label {
  margin: 10px;
}